.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: white ;
    transition: all 0a3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }
  .navbarelow li{
    list-style: none;
    display: inline;
    padding: 8px;
    font-size: 14px;
    
    
  }
.navbarelow li a{
  color: rgb(41, 40, 40);
  text-decoration: none;

}
.home-title{
 margin-top: 80px;
}
.grid-cap p a{
  text-decoration: none;
}